.main {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.container{
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  grid-column: 1/4;
}

@media (max-width: 1024px){
  .main {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }

  .container{
    grid-column: 1/5;
  }
}

.container h2{
  font-family: Sans;
  font-weight: 500;
  font-size: 32px;
  text-decoration: solid underline black 2px;
  margin: 0;
}

@media (max-width: 1024px) {
  .container h2 {
    font-size: 24px;
  }
}

.container ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 16px 0;
  color: #0074c4;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .container ul {
    overflow-x: scroll;
    padding-bottom: 10px;
  }
}

.container ul a:hover {
  filter: brightness(120%);
}

.container ul a::after {
  content: "·";
  margin: 0 8px;
}

.itemsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
}


.itemsGrid::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 350px;
  width: 100%;
  background: linear-gradient(to top, #fff ,rgba(0, 0, 0, 0));
}

.itemCard {
  display: flex;
  flex-direction: column;
}

.itemCard div {
  position: relative;
  min-height: 300px;
}

.itemCard a {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.itemCard a:hover{
  opacity: 0.7;
}

.itemCard span{
  margin: 0;
  font-size: 14px;
  color: rgb(100, 98, 98);
}

.itemCard span:nth-child(1){
  transition: .2 ease-in-out all;
  cursor: pointer;
}

.itemCard span:nth-child(1):hover {
  filter: brightness(110%);
}

.showMoreBtn, .disabledBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
  color: #0074c4;
  border: 1px solid #0074c4;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

@media (max-width: 1024px ){
  .showMoreBtn, .disabledBtn{
    width: 70%;
    padding: 0.75em 1.5em;
    font-size: 0.75rem;
  }
}

.showMoreBtn:hover {
  background-color: #0074c4;
  color: #fff;
}

.disabledBtn{
  cursor: default;
  color: #ccc;
  border: 1px solid #ccc;
}

/* HEADER ADS */
.headerAds, .mobileAds {
  margin: 100px 0 40px 0;
  height: 170px;
  width: 100vw;
  background-color: rgb(158 219 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: 600;
}

.headerAds a{
  font-weight: 100;
}

.headerAds a:hover{
  text-decoration: underline;
}

.mobileAds{
  display: none;
}

/* ASIDE ADS */
.asideAds {
  display: flex;
  height: 90%;
  width: 300px;
  background-color: rgb(158 219 233);
  margin-left: auto;
}

@media (max-width: 1024px){
  .headerAds {
    height: 90px;
    background-color: rgb(243, 243, 243);
    position: relative;
    margin: 100px 0 20px 0;
  }
  .headerAds::after{
    content: '';
    width: 80%;
    height: 100%;
    background-color: rgb(158 219 233);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .headerAds p{
    width: 70%;
    position: absolute;
    text-align: center;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
  }
  .mobileAds{
    margin: 0px 0 40px 0;
    display: flex; 
    height: 50px;
    background-color: rgb(243, 243, 243);
  }

  .mobileAds::after{
    content: '';
    width: 70%;
    height: 50px;
    background-color: rgb(158 219 233);
  }

  .asideAds {
    display: none;
  }
}